:root {
    --buttons-background-color: transparent;
    --twitter-blue: #1DA1F2;
    --twitter-blue-light: rgb(115, 201, 255);
    --twitter-blue-lighter: rgb(170, 223, 255);
    --twitter-blue-dark: rgb(0, 125, 202);
    --twitter-blue-darker: rgb(0, 78, 126);

    --grey-light: rgb(241, 241, 241);
    --grey-lighter: rgb(250, 250, 250);
    --grey-dark: rgb(156, 156, 156);
    --grey-darker: rgb(109, 109, 109);

    --animation-duration: 0.2s;
}

body {
    width: 300px;
    height: 500px;
}

/**************************************************/
/**************************************************

/* the first item in the page: the load button */
#load {
    margin-left: auto;
    margin-right: auto;
    /* background-color: var(--twitter-blue); */
    background-color: var(--grey-light);
    position: relative;
    left: 20px;
    top: 10px;
    padding: 6px 120px;
    color: black;
    border: 2px solid var(--grey-light);
    transition-duration: 0.5s;
}

#load:hover {
    background-color: var(--twitter-blue-light);
    border-color: var(--twitter-blue-light);
}

/**************************************************/
/**************************************************/
#header-items-container {
    position: relative;
    top: 20px;
    left: 10px;
    
}

.header_item {
    text-decoration: none;
    border: none;
    padding: 6px 30px;
    color: var(--twitter-blue-darker);
    background-color: transparent;
    border-bottom: 4px solid var(--grey-lighter);
    margin: 2px;
    transition-duration: var(--animation-duration);
}

.header_item:hover {
    background-color: var(--twitter-blue-light);
    border-bottom: 4px solid var(--twitter-blue-dark);
    padding: 6px 35px;
    color: white;
}

/**************************************************/
/**************************************************/

#lists-container {
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    /* left: 10px; */
}
.list_item {
    text-decoration: none;
    display: block;
    position: relative;
    background-color: var(--grey-lighter);
    color: black;
    padding: 6px 30px;
    margin: 3px;
    transition-duration: var(--animation-duration);
}

.list_item:hover {
    
    padding: 12px 30px;
    background-color: var(--twitter-blue-lighter);
    border-left: 4px solid var(--twitter-blue-dark);
    font-size: 120%;

}


/**************************************************/
/**************************************************/

.load:focus,
.header_item:focus,
.list_item:focus {
    outline:0;
}